* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #24053e;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0px;
  width: 100%;
  height: 45px;
  background-color: #24053e;
  border-radius: 50%;
  z-index: -1;
}

nav {
  padding: 32px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  border: none;
  border-bottom: 3px solid #44ffa1;
  padding: 6px 0 6px 0;
  background-color: transparent;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.header-hero-section {
  padding: 56px 20px 144px 20px;
  margin-bottom: 64px;
  text-align: center;
}

.hero-section-heading {
  font-family: "Fraunces", serif;
  font-size: 48px;
  font-weight: 350;
  color: white;
}

.hero-section-heading span {
  border-bottom: 3px solid #44ffa1;
}

.hero-section-button {
  margin-top: 40px;
  padding: 12px 32px;
  border: none;
  background-color: #44ffa1;
  color: #24053e;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  line-height: 180%;
  cursor: pointer;
}

.header-hero-image-container {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  padding: 0 20px;
  position: absolute;
  bottom: -10px;
  left: 48%;
  transform: translate(-50%, 50%);
}

.header-hero-image {
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-info-section-container {
  padding: 64px 20px;
}

.main-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;
}

.info-section-item:nth-child(3) {
  margin-bottom: 0;
}

.info-section-item span,
.info-section-item h2 {
  font-family: "Fraunces", serif;
}

.info-section-item p {
  border: 1px solid #584d62;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}

.info-section-item h2 {
  color: #24053e;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 120%;
}

.info-section-item article {
  color: #24053e;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  line-height: 180%;
}

.main-founder-section-container {
  padding: 112px 20px 0 20px;
}

.founder-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.founder-image-container {
  width: 100%;
  padding: 0 32px;
  overflow: hidden;
  margin-bottom: -50px;
}

.founder-image {
  width: 100%;
}

.founder-bio {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #24053e;
  color: white;
}

.founder-bio h2 {
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
}

.founder-bio p {
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 32px;
}

.founder-bio button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #44ffa1;
  color: #24053e;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 32px;
}

footer {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content-container {
  width: 116px;
  height: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #24053e; */
}

.footer-socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
