* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */
.navigation,
.hero-section {
  background-color: #24053e;
}

.navigation {
  padding: 32px 20px 0 20px;
}

.logo-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-button {
  border: none;
  border-bottom: 3px solid #44ffa1;
  background-color: transparent;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 180%;
  cursor: pointer;
}

.navigation-button:hover {
  color: #44ffa1;
}

/* Hero section */
.hero-section {
  padding: 56px 20px 144px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.hero-section::after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0%;
  width: 100%;
  height: 60px;
  background-color: #24053e;
  border-radius: 50%;
  z-index: -1;
}

.hero-section-spiral-1,
.hero-section-spiral-2 {
  position: absolute;
}

.hero-section-spiral-1 {
  left: -100%;
}

.hero-section-spiral-2 {
  right: 100%;
}

.hero-section-heading-and-button {
  width: 375px;
  text-align: center;
}

.hero-section-heading h1 {
  color: white;
  font-family: "Fraunces", serif;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero-section-button {
  border: none;
  padding: 12px 32px;
  background-color: #44ffa1;
  color: #24053e;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* Hero Image section */
.hero-section-image-container {
  width: 360px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-image-container img {
  width: 100%;
  z-index: 1;
}

/* Main section */
.main-info-section-container {
  padding: 64px 20px;
}

.main-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-section-item {
  text-align: center;
  margin-bottom: 32px;
}

.info-section-item:nth-child(3) {
  margin-bottom: 0;
}

.info-section-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section-item .info-section-item-number {
  width: 48px;
  height: 48px;
  border: 1px solid #24053e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.info-section-header-paragraph-container h2 {
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.info-section-header-paragraph-container p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 180%;
}

.info-section-header-paragraph-container p:nth-child(3) {
  margin-bottom: 0;
}

/* Main Bio Section */
.main-bio-section-container {
  padding: 116px 20px 0 20px;
}

.main-bio-section {
}

.bio-image-container {
  padding: 0 28px;
  margin-bottom: -60px;
}

.bio-image-container img {
  width: 100%;
}

.bio-details-container {
  padding: 32px;
  background-color: #24053e;
  color: white;
  text-align: center;
  position: relative;
}

.bio-details-container h2 {
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 32px;
}

.bio-details-container p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 32px;
}

.bio-details-container button {
  background-color: #44ffa1;
  color: #24053e;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 32px;
}

.bio-details-container button:hover {
  border: 2px solid #44ffa1;
  background-color: transparent;
  color: #44ffa1;
}

.bio-details-container img {
  position: absolute;
  right: -100%;
}

/* Footer Section */
footer {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-socials-container {
  height: 101px;
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.socials-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
