* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Fraunces";
  src: url("../starter-code/assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Ma nrope";
  src: url("../starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
}

/* Header Section */
.navigation,
.hero-section {
  background-color: #24053e;
}

.navigation {
  padding: 32px 20px 0 20px;
}

.logo-and-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-button {
  border: none;
  border-bottom: 3px solid #44ffa1;
  background-color: transparent;
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 180%;
  cursor: pointer;
}

.navigation-button:hover {
  color: #44ffa1;
}

/* Hero section */
.hero-section {
  padding: 56px 20px 144px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero-section::after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0%;
  width: 100%;
  height: 60px;
  background-color: #24053e;
  border-radius: 50%;
  /* z-index: -1; */
}

.hero-section-spiral-1,
.hero-section-spiral-2 {
  position: absolute;
}

.hero-section-heading span {
  border-bottom: 3px solid #44ffa1;
}

.hero-section-spiral-1 {
  left: -100%;
}

.hero-section-spiral-2 {
  right: 100%;
}

.hero-section-heading-and-button {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section-heading {
  width: 335px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-heading h1 {
  color: white;
  font-family: "Fraunces", serif;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero-section-button {
  border: none;
  padding: 12px 32px;
  background-color: #44ffa1;
  color: #24053e;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 180%;
  cursor: pointer;
}

.hero-section-button:hover {
  border: 2px solid #44ffa1;
  padding: 10px 30px;
  background-color: transparent;
  color: #44ffa1;
}

/* Hero Image section */
.hero-section-image-container {
  width: 360px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-image-container img {
  width: 100%;
  z-index: 1;
}

/* Main section */
.main-info-section-container {
  padding: 64px 20px;
}

.main-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-section-item {
  text-align: center;
  margin-bottom: 32px;
}

.info-section-item:nth-child(3) {
  margin-bottom: 0;
}

.info-section-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section-item .info-section-item-number {
  width: 48px;
  height: 48px;
  border: 1px solid #24053e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.info-section-header-paragraph-container h2 {
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.info-section-header-paragraph-container p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 180%;
}

.info-section-header-paragraph-container p:nth-child(3) {
  margin-bottom: 0;
}

/* Main Bio Section */
.main-bio-section-container {
  padding: 116px 20px 0 20px;
}

.bio-image-container {
  padding: 0 28px;
  margin-bottom: -60px;
}

.bio-image-container img {
  width: 100%;
}

.bio-details-container {
  position: relative;
  padding: 32px;
  background-color: #24053e;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.footer-spiral-image {
  position: absolute;
  right: -100%;
}

.bio-details-container h2 {
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 32px;
}

.bio-details-container p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 32px;
}

.bio-details-container button {
  background-color: #44ffa1;
  color: #24053e;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 32px;
  cursor: pointer;
}

.bio-details-container button:hover {
  border: 2px solid #44ffa1;
  background-color: transparent;
  color: #44ffa1;
}

.bio-details-container img {
  position: absolute;
  right: -100%;
}

/* Footer Section */
footer {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-socials-container {
  height: 101px;
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.socials-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* Media Queries */
@media (min-width: 768px) {
  .hero-section-spiral-1 {
    left: -220px;
  }

  .hero-section-spiral-2 {
    right: -90px;
    top: 50%;
  }

  .hero-section-heading-and-button {
    width: 680px;
    /* text-align: center; */
  }

  .hero-section-heading {
    width: 500px;
  }

  .hero-section-heading h1 {
    font-size: 60px;
    font-weight: 500;
  }

  .hero-section-button {
    font-size: 18px;
  }

  .hero-section-image-container {
    width: 602px;
  }

  /* Hero Image Section */
  .hero-section-image-container {
    margin-top: -110px;
  }

  /* Main section */
  .main-info-section-container {
    padding: 56px 44px 44px 44px;
  }

  .info-section-item {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-section-item .info-section-item-number {
    margin-right: 58px;
  }

  /* Main Bio Section */
  .main-bio-section-container {
    padding: 114px 44px 0 44px;
  }

  .main-bio-section {
    display: flex;
  }

  .bio-image-container {
    padding: 0;
    margin-right: -106px;
  }

  .bio-details-container {
    text-align: left;
    margin-top: 176px;
    overflow: visible;
  }

  .bio-details-container .footer-spiral-image {
    bottom: -120px;
    right: 0px;
    z-index: 999;
  }
}
