* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #24053e;
}

nav {
  padding: 32px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  border: none;
  border-bottom: 3px solid #44ffa1;
  padding: 6px 0 6px 0;
  background-color: transparent;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
